<p-panel header="Pipes personalizados" class="p-1">
  <p>
    Pipes personalizados - Custom Pipes {{ 'barajas' | toggleCase:isUpperCase }}
  </p>
</p-panel>

<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button (click)="toggleUpperCase()" label="ToggleCase" icon="pi pi-search" class="mr-2" />
  </div>
  <div class="p-toolbar-group-end">
    <p-button (click)="changeOrderBy('name')" label="By name" icon="pi pi-sort" class="mr-2"
      styleClass="p-button-success" />

    <p-button (click)="changeOrderBy('canFly')" label="Fly" icon="pi pi-sort" class="mr-2"
      styleClass="p-button-danger" />

    <p-button (click)="changeOrderBy('color')" label="Color" icon="pi pi-sort" styleClass="p-button-help" />
  </div>
  <!-- <div class="p-toolbar-group-center">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input pInputText placeholder="Search" />
    </span>
  </div>
  <div class="p-toolbar-group-end">
    <p-splitButton label="Save" icon="pi pi-check" [model]="items" />
  </div> -->
</p-toolbar>

<div class="grid">
  <div class="col mt-2">
    <p-panel header="Heroes">
      <p-table [value]="heroes | sortBy:orderBy:descending" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Fly</th>
            <th>Color</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-hero>
          <tr>
            <td>{{ hero.name }}</td>
            <td>{{ hero.canFly | canFly | titlecase}}</td>
            <td>{{ getColorName(hero.color) | titlecase}}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>

</div>